*{
    margin: 0;
    padding: 0;
}

header{
    margin-bottom: 100px;
}
.bg-image{
    background-image: url('../images/banner/banner1.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: right;
    align-items: center;
}
.bg-content{
    margin-right: 300px;
}
.banner-title{
    font-weight: 700;
    font-size: 65px;
    font-weight: bold;
    text-align: right;
    font-family: 'Work Sans', sans-serif;
    line-height: 76px;
    margin-bottom: 32px;
}
.banner-description{
    text-align: right;
    font-family: 'Work Sans', sans-serif;
    color: #444343;
    line-height: 26px;
    font-style: normal;
    margin-bottom: 32px;
}
.btn{
    text-align: right;
}
.btn-primary{
    width: 160px;
    height: 64px;
    font-family: 'Work Sans', sans-serif;
    color: white;
    font-size: 20px;
    font-weight: 600;
    background: #F15B22;
    border-radius: 5px;
    border: none;

}


main{
    width: 1200px;
    margin: 0 auto;
}
section{
    margin-top: 30px;
    margin-bottom: 30px;
}

/* failures section */


.failures-section{
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    gap: 87px;
    justify-content: space-between;
}
.person-image{
    margin-left: 0px;
}
.failures-content{
    width: 416px;
    margin-right: 400px;
}
.failures-title{
    font-weight: 700;
    font-size: 40px;
    font-family: 'Work Sans', sans-serif;
    line-height: 46px;
    margin-bottom: 24px;
}
.failures-description{
    font-family: 'Work Sans', sans-serif;
    width: 416px;
    height: 104px;
    color: ##444343;
    line-height: 26px;
    font-style: normal;
    margin-bottom: 32px;
}
li{
    font-family: 'Work Sans', sans-serif;
    color: ##444343;
    list-style: none;
    line-height: 26px;
}

li:before{
    content: "\2713";
    margin-right: 15px;
    color: #16D887;
    font-size: 20px;
}

/* plans  */

.plans-section{
    text-align: center;
    margin-bottom: 100px;

}

.plans-title{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
    margin-bottom: 57px;
}

.plan-container{
    display: flex;
    gap: 25px;
    justify-content: space-between;
}
.plan{

}
.plan-subtitle{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #151414;
    margin-bottom: 16px;
    margin-top: 16px;
}
.plan-description{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    
    /* Dark 03 */
    
    color: #737272;
}

.mindset{
    background-image: url('../images/watch.png');
    width: 1140px;
    height: 300px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}

.mindset-content{
    width: 459px;
height: 182px;
    align-items: center;
    margin-left: 66px;
}

.mindset-title{
    font-weight: 460;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 20px;
    color: #FFFFFF;
    
}

.btn-secondary{
    width: 160px;
    height: 64px;
    left: 296px;
    top: 2399px;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #F15B22;
    
    background: #FFFFFF;
    border-radius: 5px;
    border: none;
}

footer{
    display: flex;
    justify-content: space-around;
    background: #151414;
}
.future{
    width: 485px;
}

.footer-title{
    margin-top: 60px;
    margin-bottom: 20px;
    width: 148px;
    height: 53px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;    
    color: #F8F8F8;
    
}
.footer-description{
    width: 485px;
    height: 78px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    color: #FFFFFF;
    
}
.social-icons>img{
    margin-right: 20px;
}

.footer-subtitle{
    font-family: 'Work Sans';
    margin-top: 60px;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
    color: #FFFFFF;
}
input{
    margin-bottom: 20px;
}

input[type="email"], textarea {

    background-color : #151414; 
    padding: 15px;
    width: 250px;
    border: 1px solid white;
    border-radius: 5px;
  
  }
